:where(.css-dev-only-do-not-override-17a39f8).ant-pagination .ant-pagination-item-active a {
    background-color: #F66D0F !important;
    color:white !important;
    border-color: "none" !important;
    border-radius: 8px !important;
  }
  :where(.css-dev-only-do-not-override-17a39f8).ant-pagination .ant-pagination-item-active{
    background-color: #F66D0F !important;
    color:white !important;
    /* border-color: none !important; */
    border-radius: 8px !important;
  }