
.providerContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));

}
.cardContainer {
    border-radius: 12px;
    border: 1px solid var(--Stroke, #535770);
    background: var(--background-card-bg, #364153);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.20);
    width: 290px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.buttonContainer {
    width: 100%;
    /* margin-top: 20px;
    margin-bottom: 20px; */

}

.btn {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: #F66D0F;
    padding: 0px 15px;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid var(--primary-orange, #F66D0F);
    cursor: pointer;
}

.btn1 {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #F66D0F;
    padding: 0px 15px;
    font-weight: bold;
    cursor: pointer;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.PaginationContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:var(--background-card-bg, #364153);
    padding: 20px;
    border-radius: 12px;
}