body {
  background-color: #364153 !important;
}

* {
  padding: 0;
  margin: 0;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none;
}


.goog-te-gadget .goog-te-combo {
  padding: 10px 15px;
  width: 200px;
  border-radius: 5px;
}


.goog-te-banner-frame {
  display: none;
  margin-top: -20px;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

#google_translate_element {
  display: inline-block;

  border-radius: 4px;
  padding: 10px 20px;
}
.ant-upload .ant-upload-select{
  width: 100% !important;
}


.ant-upload {
  width: 90% !important;
  height: 190px !important;
}
.ant-upload-select{
  width: 100% !important;
  height: 190px !important;
}
.swal2-confirm {
  background-color: #00A36C !important;
}
.swal2-cancel {
  background-color: #ff0000 !important;
}